<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div id='app'>
    <h2>{{message}}</h2>
    <cpn1 :cpnnum1="num1" :cpnnum2="num2" 
    @num1change="num1change" @num2change="num2change"></cpn1>  
  </div>

  <template id="cpn">
    <div>
      <h2>子组件中的props: {{cpnnum1}}</h2>
      <h2>子组件中的data：{{number1}}</h2>
      <!-- <input type="text" name="" id="" value="" key="num1" v-model="number1"> -->
      <!-- 实现双向绑定 -->
      <input type="text" v-bind:value="number1" @input="num1Input">
     

      <h2>{{cpnnum2}}</h2>
      <h2>{{number2}}</h2>
      <!-- <input type="text" value="" key="num2" v-model="number2"> -->
      <input type="text" :value="number2" @input="num2Input">
    </div>
  </template>
  
  <script src='vue .js'></script> 
  <script>
    const cpn1 = {
      template:'#cpn',
      data(){
          return {
          }
        },
      props:{
        cpnnum1: {
          type: Number,
          default(){
            return  '请输入数字'
          }
        },
        cpnnum2: {
          type: Number,
        }
      },
      data(){
        return {
          number1: this.cpnnum1,
          number2: this.cpnnum2
        }
      },
      methods: {
        num1Input(event){
          this.number1 = event.target.value;
          this.$emit('num1change',this.number1);

          this.number2 = this.number1*100;
          this.$emit('num2change',this.number2)
        },
        num2Input(event){
          this.number2 = event.target.value;
          this.$emit('num2change',this.number2)

          this.number1 = this.number2/100;
          this.$emit('num1change',this.number1)
        }
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        message:'你好哇',
        num1 : 1,
        num2 : 0
      },
      components: {
        cpn1,
        
      },
      computed: {
  
  
      },
      methods: {
        num1change(value){

          // 类型转换
          value = parseFloat(value);
          this.num1 = value;
          this.num2 = this.num1*100
        },
        num2change(value){
          value = parseFloat(value);
          this.num2 = value
        }
      }
    })     
   
  </script>
</body>
</html>